html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.code-block {
  color: #15986c;
  /* background-color: #f7f8fa; */
  -webkit-box-shadow: inset 0 0 0 1px rgb(29 41 74 / 8%);
  box-shadow: inset 0 0 0 1px rgb(29 41 74 / 8%);
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
}

.route-param {
  color: #7a4ad9;
}

.toc-header {
  list-style: none;
  margin: 0;
  /* padding: 0; */
}

.toc-subheader {
  list-style: none;
  /* margin-left: 20px; */
}

.toc-subheader div {
  margin-left: 20px;
  border-left-width: 1px;
  border-left-style: solid;
}

.toc-item {
  font-weight: 500;
}

.table-of-contents {
  padding-top: 25px;
  font-size: 14px;
  line-height: 32px;
}

.table-of-contents ul {
  padding: 0;
}

.table-of-contents li {
  cursor: pointer;
  height: 32px
}

.table-of-contents a {
  padding: 0px 20px;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.toc-header.active .toc-item.active {
  background-color: #e7f5ff;
  color: #1971c2;
}

.toc-header.active .toc-item.active.dark {
  background-color: rgba(24, 100, 171, 0.45);
  color: rgb(208, 235, 255);
}


.custom-table {
  border-radius: 12px;
  /* box-shadow: 0 1px 9px 0px rgb(0 0 0 / 17%); */
  /* border:1px solid rgb(0 0 0 / 17%); */
  overflow: hidden;
  text-align: left
}

.custom-table th {
  /* background-color: #f9f9fb; */
  border-bottom: 1px solid #d1d5db;
  padding: 10px 20px;
  font-weight: 600;
  color: #9ca3af;
  font-size:14px
}

.custom-table td {
  border-bottom: 1px solid #e5e7eb; 
  padding: 7px 20px;
  font-size: 14px
}

.custom-table.dark td {
  border-bottom: 1px solid #303030;
}

.custom-table tbody tr:last-child td {
  border-bottom: none;
}

.custom-table tr th:first-child, .custom-table tr td:first-child  {
  padding-left: 20px
}

.custom-table tr th:last-child,
.custom-table tr td:last-child {
  padding-right: 20px
}

/* .custom-table.dark {
  box-shadow: 0 1px 9px 0px rgb(0 0 0 / 54%);
}

.custom-table.dark th {
  background-color: #373a40;
} */

.main-container {
  margin-left: 250px;
  padding: 20px;
}

.main-container h1, 
.main-container h2, 
.main-container h3, 
.main-container h4, 
.main-container h5, 
.main-container h6, 
.main-container p,
.main-container table {
  margin-right: 45%
}

.link-icon {
  margin-left: 15px;
  cursor: pointer;
  width: 20px;
}

.link-icon:hover {
  color: #1b72e8
}

.inner-code-block {
  clear: right;
  float: right;
  width: 40%;
  margin-right: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .inner-code-block {
    clear: none;
    float: none;
    width: 100%
  }

  .main-container h1,
  .main-container h2,
  .main-container h3,
  .main-container h4,
  .main-container h5,
  .main-container h6,
  .main-container p,
  .main-container table {
    margin-right: 0
  }
}

.language-selector {
  display: flex;
  background-color: #edf1f2;
  font-weight: bold;
  border-radius: 20px;
  padding: 2px;
  box-shadow: 0 1px 3px 0 rgb(21 27 38 / 15%);
}

.language-selector .active {
  background-color: #fff;
  /* color: #151b26; */
  -webkit-box-shadow: 0 1px 3px 0 rgb(21 27 38 / 15%);
  box-shadow: 0 1px 3px 0 rgb(21 27 38 / 15%);
}

.language-selector .language-option {
  display: block;
  float: left;
  /* color: #151b26; */
  text-decoration: none;
  padding: 0 10px;
  line-height: 30px;
  outline: 0;
  border-radius: 20px;
  cursor: pointer
}

.language-selector.dark {
  background-color: #495057;
}

.language-selector.dark .active{
  background-color: #2C2E33;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  top: 25px;
  right: 25px
}

@media screen and (max-width: 930px) {
  .table-of-contents {
    display: none;
  }

  .main-container {
    margin-left: 0px
  }
}

section {
  padding-bottom: 20px;
}

section::after {
  clear: both;
  content: "";
  display: block;
}

.param-type {
  margin-left: 4px;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.07px;
  color: #6F7782;
}

.param-required {
  font-size: 10px;
  color: #FF5263;
  letter-spacing: 0.07px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  margin-top: 5px;
  margin-left: 5px
}