html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.code-block {
  color: #15986c;
  /* background-color: #f7f8fa; */
  -webkit-box-shadow: inset 0 0 0 1px rgb(29 41 74 / 8%);
  box-shadow: inset 0 0 0 1px rgb(29 41 74 / 8%);
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
}

.route-param {
  color: #7a4ad9;
}

.toc-header {
  list-style: none;
  margin: 0;
  /* padding: 0; */
}

.toc-subheader {
  list-style: none;
  /* margin-left: 20px; */
}

.toc-subheader div {
  margin-left: 20px;
  border-left-width: 1px;
  border-left-style: solid;
}

.toc-item {
  font-weight: 500;
}

.table-of-contents {
  padding-top: 25px;
  font-size: 14px;
  line-height: 32px;
}

.table-of-contents ul {
  padding: 0;
}

.table-of-contents li {
  cursor: pointer;
  height: 32px
}

.table-of-contents a {
  padding: 0px 20px;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.toc-header.active .toc-item {
  background-color: #e7f5ff;
  color: #1971c2;
}

.toc-header.active .toc-item.dark {
  background-color: rgba(24, 100, 171, 0.45);
  color: rgb(208, 235, 255);
}


.custom-table {
  border-radius: 12px;
  box-shadow: 0 1px 9px 0px rgb(0 0 0 / 17%);
  /* border:1px solid rgb(0 0 0 / 17%); */
  overflow: hidden;
  text-align: left
}

.custom-table th {
  background-color: #f9f9fb;
  border-bottom: 1px solid #d1d5db;
  padding: 10px 20px;
  font-weight: 600;
  color: #9ca3af;
  font-size:14px
}

.custom-table td {
  border-bottom: 1px solid #d1d5db;
  padding: 5px 20px;
  font-size: 14px
}

.custom-table tbody tr:last-child td {
  border-bottom: none;
}

.custom-table tr th:first-child, .custom-table tr td:first-child  {
  padding-left: 20px
}

.custom-table tr th:last-child,
.custom-table tr td:last-child {
  padding-right: 20px
}
